<ion-header>

</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size-md="2" size="0"></ion-col>
      <ion-col size-md="8" size="12">

        <div class="text-success h3 font-italic my-sm-5 text-center border border-success" style="border-radius: 13px;">
          <img src="assets/done.jpeg" class="img-fluid d-flex mx-auto" style="max-width: 100%;height: auto;">

          <div class="text-center">
            Your data has been {{info}}.

          </div>
        </div>

        <div class="mx-auto d-flex align-self-center">
          <ion-button color="danger" fill="solid" expand="full" class="col-md-6 offset-md-3" routerLink="/">Home
          </ion-button>

        </div>

      </ion-col>
      <ion-col size-md="2" size="0"></ion-col>
    </ion-row>
  </ion-grid>
</ion-content>